In [137]:
import pandas as pd
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.formula.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import copy

pd.options.display.float_format = "{:.3f}".format

In [123]:
df = pd.read_csv("G:/.shortcut-targets-by-id/188U2ypi3eUvuInaixMTTbbFctprRo9e4/GYM살라빔/data/train.csv")
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 58 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             301 non-null    int64
 1   OC                  301 non-null    object
 2   sido                301 non-null    object
 3   sgg                 301 non-null    int64
 4   openDate            301 non-null    int64
 5   bedCount            296 non-null    float64
 6   instkind            300 non-null    object
 7   revenue1            293 non-null    float64
 8   salescost1          293 non-null    float64
 9   sga1                293 non-null    float64
 10  salary1             293 non-null    float64
 11  noi1                293 non-null    float64
 12  noe1                293 non-null    float64
 13  interest1           293 non-null    float64
 14  ctax1               293 non-null    float64
 15  profit1             293 non-null    float64
 16  liquidAsset1        293 non-null    float64
 17  quickAsset1         293 non-null    float64
 18  receivableS1        293 non-null    float64
 19  inventoryAsset1     293 non-null    float64
 20  nonCAsset1          293 non-null    float64
 21  tanAsset1           293 non-null    float64
 22  OnonCAsset1         293 non-null    float64
 23  receivableL1        293 non-null    float64
 24  debt1               293 non-null    float64
 25  liquidLiabilities1  293 non-null    float64
 26  shortLoan1          293 non-null    float64
 27  NCLiabilities1      293 non-null    float64
 28  longLoan1           293 non-null    float64
 29  netAsset1           293 non-null    float64
 30  surplus1            293 non-null    float64
 31  revenue2            293 non-null    float64
 32  salescost2          293 non-null    float64
 33  sga2                293 non-null    float64
 34  salary2             293 non-null    float64
 35  noi2                293 non-null    float64
 36  noe2                293 non-null    float64
 37  interest2           293 non-null    float64
 38  ctax2               293 non-null    float64
 39  profit2             293 non-null    float64
 40  liquidAsset2        293 non-null    float64
 41  quickAsset2         293 non-null    float64
 42  receivableS2        293 non-null    float64
 43  inventoryAsset2     293 non-null    float64
 44  nonCAsset2          293 non-null    float64
 45  tanAsset2           293 non-null    float64
 46  OnonCAsset2         293 non-null    float64
 47  receivableL2        293 non-null    float64
 48  debt2               293 non-null    float64
 49  liquidLiabilities2  293 non-null    float64
 50  shortLoan2          293 non-null    float64
 51  NCLiabilities2      293 non-null    float64
 52  longLoan2           293 non-null    float64
 53  netAsset2           293 non-null    float64
 54  surplus2            293 non-null    float64
 55  employee1           291 non-null    float64
 56  employee2           288 non-null    float64
 57  ownerChange         289 non-null    object
dtypes: float64(51), int64(3), object(4)
memory usage: 136.5+ KB

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,1,open,choongnam,73,20071228,175.0,nursing_hospital,4.217530e+09,0.000000e+00,3.961135e+09,...,7.589937e+08,2.228769e+08,0.000000e+00,5.361169e+08,3.900000e+08,2.619290e+09,1.271224e+09,62.0,64.0,same
1,3,open,gyeongnam,32,19970401,410.0,general_hospital,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,801.0,813.0,same
2,4,open,gyeonggi,89,20161228,468.0,nursing_hospital,1.004522e+09,5.154837e+08,4.472197e+08,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,234.0,1.0,same
3,7,open,incheon,141,20000814,353.0,general_hospital,7.250734e+10,0.000000e+00,7.067740e+10,...,3.775501e+10,1.701860e+10,9.219427e+09,2.073641e+10,1.510000e+10,1.295427e+10,7.740829e+09,663.0,663.0,same
4,9,open,gyeongnam,32,20050901,196.0,general_hospital,4.904354e+10,0.000000e+00,4.765605e+10,...,5.143259e+10,3.007259e+10,1.759375e+10,2.136001e+10,1.410803e+10,5.561941e+06,9.025550e+09,206.0,197.0,same
5,11,open,gyeongnam,155,20020501,243.0,general_hospital,3.358054e+10,9.222997e+09,2.372791e+10,...,0.000000e+00,2.186113e+10,1.708714e+10,2.000000e+07,0.000000e+00,0.000000e+00,5.879004e+09,397.0,390.0,same
6,14,open,gyeonggi,169,19820702,213.0,general_hospital,2.255218e+10,4.449958e+09,1.657333e+10,...,1.964203e+10,1.329203e+10,1.215560e+10,6.350000e+09,6.230000e+09,1.888829e+10,9.174283e+09,221.0,246.0,same
7,15,open,busan,66,19871102,250.0,general_hospital,6.435917e+10,2.075801e+10,4.088254e+10,...,3.598482e+10,1.121965e+10,0.000000e+00,2.476517e+10,1.600000e+10,1.421786e+10,9.177283e+09,489.0,489.0,same
8,16,open,jeonnam,91,20060922,280.0,nursing_hospital,1.274839e+10,3.286977e+08,1.107619e+10,...,0.000000e+00,1.311325e+10,1.266442e+10,4.196268e+07,0.000000e+00,0.000000e+00,0.000000e+00,243.0,243.0,same
9,17,open,seoul,4,20000124,55.0,general_hospital,4.140608e+10,6.624671e+09,3.512018e+10,...,3.490673e+10,1.967589e+10,1.636540e+10,1.523084e+10,3.400000e+09,2.024453e+10,9.554581e+09,370.0,382.0,same

In [124]:
df.replace({"open":1},inplace=True)
# df.head()

In [125]:
df.replace({" close":0}, inplace=True)
df["OC"].unique()

array([1, 0], dtype=int64)

In [126]:
df.describe()

,inst_id,OC,sgg,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,...,receivableL2,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2
count,301.000000,301.000000,301.000000,3.010000e+02,296.000000,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,...,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,291.000000,288.000000
mean,219.056478,0.950166,81.039867,2.005013e+07,145.709459,1.288175e+10,2.014903e+09,1.033244e+10,5.654115e+09,2.696151e+08,...,2.226700e+05,8.146026e+09,3.860584e+09,1.510050e+09,4.471247e+09,2.709979e+09,5.273919e+09,9.786279e+08,142.546392,134.326389
std,121.234869,0.217964,50.969714,8.893815e+04,118.923890,2.043543e+10,7.460271e+09,1.493886e+10,8.083343e+09,8.023701e+08,...,3.811496e+06,1.255800e+10,6.797242e+09,2.953412e+09,7.659580e+09,4.564001e+09,1.081259e+10,4.688798e+09,160.191073,151.061786
min,1.000000,0.000000,1.000000,1.978012e+07,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-2.014780e+10,-2.781507e+09,0.000000,0.000000
25%,112.000000,1.000000,37.000000,2.001102e+07,52.750000,3.252112e+09,0.000000e+00,2.758201e+09,1.626053e+09,8.217133e+06,...,0.000000e+00,1.283220e+09,2.855741e+08,0.000000e+00,2.557878e+07,0.000000e+00,1.017573e+09,0.000000e+00,53.500000,53.750000
50%,230.000000,1.000000,75.000000,2.007113e+07,136.500000,5.524218e+09,2.104105e+08,4.684074e+09,2.659892e+09,4.363764e+07,...,0.000000e+00,3.784553e+09,1.454050e+09,8.542549e+07,1.969747e+09,1.100000e+09,2.894970e+09,0.000000e+00,80.000000,79.000000
75%,321.000000,1.000000,123.000000,2.011102e+07,193.000000,1.274839e+10,9.105278e+08,1.077876e+10,6.363400e+09,2.050331e+08,...,0.000000e+00,8.465053e+09,4.364714e+09,1.567967e+09,4.905441e+09,3.360000e+09,5.370285e+09,1.014447e+08,181.500000,170.000000
max,428.000000,1.000000,178.000000,2.017061e+07,656.000000,1.510000e+11,9.850332e+10,1.030000e+11,6.403559e+10,9.144171e+09,...,6.524231e+07,8.508858e+10,6.846878e+10,1.759375e+10,5.150388e+10,3.256147e+10,1.250000e+11,6.852730e+10,1200.000000,1200.000000

In [127]:
df.dropna(axis=0, inplace=True)
# df.info()

In [128]:
df.drop(columns=["receivableL1", "receivableL2"], axis=1, inplace=True)
df.columns

Index(['inst_id', 'OC', 'sido', 'sgg', 'openDate', 'bedCount', 'instkind',
       'revenue1', 'salescost1', 'sga1', 'salary1', 'noi1', 'noe1',
       'interest1', 'ctax1', 'profit1', 'liquidAsset1', 'quickAsset1',
       'receivableS1', 'inventoryAsset1', 'nonCAsset1', 'tanAsset1',
       'OnonCAsset1', 'debt1', 'liquidLiabilities1', 'shortLoan1',
       'NCLiabilities1', 'longLoan1', 'netAsset1', 'surplus1', 'revenue2',
       'salescost2', 'sga2', 'salary2', 'noi2', 'noe2', 'interest2', 'ctax2',
       'profit2', 'liquidAsset2', 'quickAsset2', 'receivableS2',
       'inventoryAsset2', 'nonCAsset2', 'tanAsset2', 'OnonCAsset2', 'debt2',
       'liquidLiabilities2', 'shortLoan2', 'NCLiabilities2', 'longLoan2',
       'netAsset2', 'surplus2', 'employee1', 'employee2', 'ownerChange'],
      dtype='object')

In [129]:
df_drop_obj = copy.deepcopy(df)
df_dr_obj_cols = df_drop_obj.columns.to_list()
# df_dr_obj_cols

In [130]:
df_drop_obj2 = copy.deepcopy(df_drop_obj)

for i in range(len(df_dr_obj_cols)) : 
    if df_drop_obj.iloc[:,i].dtype == "object" : 
        df_drop_obj2.drop(columns=df_dr_obj_cols[i], inplace=True)

In [131]:
# plt.figure(figsize=(16,16))
# sns.heatmap(df_drop_obj.iloc[2:,:].corr(), annot=True)

In [132]:
df_drop_obj2.drop(columns="inst_id",inplace=True)
df_drop_obj2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 277 entries, 0 to 296
Data columns (total 52 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OC                  277 non-null    int64
 1   sgg                 277 non-null    int64
 2   openDate            277 non-null    int64
 3   bedCount            277 non-null    float64
 4   revenue1            277 non-null    float64
 5   salescost1          277 non-null    float64
 6   sga1                277 non-null    float64
 7   salary1             277 non-null    float64
 8   noi1                277 non-null    float64
 9   noe1                277 non-null    float64
 10  interest1           277 non-null    float64
 11  ctax1               277 non-null    float64
 12  profit1             277 non-null    float64
 13  liquidAsset1        277 non-null    float64
 14  quickAsset1         277 non-null    float64
 15  receivableS1        277 non-null    float64
 16  inventoryAsset1     277 non-null    float64
 17  nonCAsset1          277 non-null    float64
 18  tanAsset1           277 non-null    float64
 19  OnonCAsset1         277 non-null    float64
 20  debt1               277 non-null    float64
 21  liquidLiabilities1  277 non-null    float64
 22  shortLoan1          277 non-null    float64
 23  NCLiabilities1      277 non-null    float64
 24  longLoan1           277 non-null    float64
 25  netAsset1           277 non-null    float64
 26  surplus1            277 non-null    float64
 27  revenue2            277 non-null    float64
 28  salescost2          277 non-null    float64
 29  sga2                277 non-null    float64
 30  salary2             277 non-null    float64
 31  noi2                277 non-null    float64
 32  noe2                277 non-null    float64
 33  interest2           277 non-null    float64
 34  ctax2               277 non-null    float64
 35  profit2             277 non-null    float64
 36  liquidAsset2        277 non-null    float64
 37  quickAsset2         277 non-null    float64
 38  receivableS2        277 non-null    float64
 39  inventoryAsset2     277 non-null    float64
 40  nonCAsset2          277 non-null    float64
 41  tanAsset2           277 non-null    float64
 42  OnonCAsset2         277 non-null    float64
 43  debt2               277 non-null    float64
 44  liquidLiabilities2  277 non-null    float64
 45  shortLoan2          277 non-null    float64
 46  NCLiabilities2      277 non-null    float64
 47  longLoan2           277 non-null    float64
 48  netAsset2           277 non-null    float64
 49  surplus2            277 non-null    float64
 50  employee1           277 non-null    float64
 51  employee2           277 non-null    float64
dtypes: float64(49), int64(3)
memory usage: 114.7 KB

In [133]:
Models1 = sm.ols("OC ~ " + "+".join(df_drop_obj2.columns[1:]), data=df_drop_obj2)
result1 = Models1.fit()
print(result1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     OC   R-squared:                       0.277
Model:                            OLS   Adj. R-squared:                  0.114
Method:                 Least Squares   F-statistic:                     1.694
Date:                Sun, 09 Jul 2023   Prob (F-statistic):            0.00505
Time:                        20:06:14   Log-Likelihood:                 164.91
No. Observations:                 277   AIC:                            -225.8
Df Residuals:                     225   BIC:                            -37.38
Df Model:                          51
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              4.2660      2.600      1.641      0.102      -0.857       9.389
sgg                -6.907e-05      0.000     -0.363      0.717      -0.000       0.000
openDate           -1.629e-07    1.3e-07     -1.257      0.210   -4.18e-07    9.25e-08
bedCount           -7.582e-05      0.000     -0.633      0.528      -0.000       0.000
revenue1           -6.126e-10   7.08e-10     -0.866      0.388   -2.01e-09    7.82e-10
salescost1          6.204e-10   7.13e-10      0.870      0.385   -7.85e-10    2.03e-09
sga1                6.641e-10   7.13e-10      0.932      0.353   -7.41e-10    2.07e-09
salary1            -6.223e-11   3.24e-11     -1.923      0.056   -1.26e-10    1.55e-12
noi1               -6.759e-10   7.13e-10     -0.948      0.344   -2.08e-09     7.3e-10
noe1                6.964e-10   7.04e-10      0.989      0.324   -6.91e-10    2.08e-09
interest1           1.189e-10   1.53e-10      0.776      0.439   -1.83e-10    4.21e-10
ctax1               5.865e-10   7.41e-10      0.791      0.430   -8.74e-10    2.05e-09
profit1             6.145e-10   7.04e-10      0.873      0.384   -7.73e-10       2e-09
liquidAsset1        1.743e-10   4.87e-10      0.358      0.721   -7.86e-10    1.13e-09
quickAsset1          1.74e-10   2.24e-10      0.775      0.439   -2.68e-10    6.16e-10
receivableS1       -1.664e-11   1.54e-11     -1.084      0.280   -4.69e-11    1.36e-11
inventoryAsset1    -1.914e-10   3.25e-10     -0.589      0.556   -8.32e-10    4.49e-10
nonCAsset1          2.784e-10   4.41e-10      0.631      0.529   -5.91e-10    1.15e-09
tanAsset1           5.436e-11   2.28e-11      2.381      0.018    9.36e-12    9.94e-11
OnonCAsset1          9.14e-12   4.21e-11      0.217      0.828   -7.38e-11    9.21e-11
debt1                1.83e-10   5.34e-10      0.343      0.732   -8.69e-10    1.24e-09
liquidLiabilities1 -5.464e-10   9.23e-10     -0.592      0.554   -2.36e-09    1.27e-09
shortLoan1          2.368e-11   1.07e-11      2.211      0.028    2.58e-12    4.48e-11
NCLiabilities1     -5.399e-10   9.23e-10     -0.585      0.559   -2.36e-09    1.28e-09
longLoan1             1.4e-11   1.38e-11      1.015      0.311   -1.32e-11    4.12e-11
netAsset1          -3.392e-10   4.43e-10     -0.766      0.444   -1.21e-09    5.33e-10
surplus1           -1.381e-11   8.99e-12     -1.536      0.126   -3.15e-11     3.9e-12
revenue2           -1.136e-10   8.22e-10     -0.138      0.890   -1.73e-09    1.51e-09
salescost2          1.105e-10   8.22e-10      0.134      0.893   -1.51e-09    1.73e-09
sga2                6.342e-11   8.23e-10      0.077      0.939   -1.56e-09    1.69e-09
salary2             7.154e-11    3.5e-11      2.042      0.042     2.5e-12    1.41e-10
noi2               -8.418e-11   8.16e-10     -0.103      0.918   -1.69e-09    1.52e-09
noe2                2.514e-11   8.21e-10      0.031      0.976   -1.59e-09    1.64e-09
interest2          -2.404e-10   1.61e-10     -1.489      0.138   -5.59e-10    7.78e-11
ctax2              -3.489e-11    7.7e-10     -0.045      0.964   -1.55e-09    1.48e-09
profit2             1.644e-10   8.25e-10      0.199      0.842   -1.46e-09    1.79e-09
liquidAsset2       -5.908e-10   7.38e-10     -0.800      0.424   -2.05e-09    8.64e-10
quickAsset2         9.306e-11   1.08e-10      0.860      0.391    -1.2e-10    3.06e-10
receivableS2        1.595e-11   1.51e-11      1.053      0.294   -1.39e-11    4.58e-11
inventoryAsset2     3.672e-10   2.45e-10      1.496      0.136   -1.16e-10    8.51e-10
nonCAsset2         -4.376e-10   7.49e-10     -0.584      0.560   -1.91e-09    1.04e-09
tanAsset2          -4.354e-11   2.64e-11     -1.647      0.101   -9.56e-11    8.56e-12
OnonCAsset2         2.617e-11   4.44e-11      0.589      0.556   -6.14e-11    1.14e-10
debt2              -1.695e-10   5.21e-10     -0.325      0.745    -1.2e-09    8.57e-10
liquidLiabilities2  6.767e-10   1.24e-09      0.547      0.585   -1.76e-09    3.11e-09
shortLoan2         -1.457e-11   1.05e-11     -1.392      0.165   -3.52e-11    6.06e-12
NCLiabilities2      6.812e-10   1.24e-09      0.549      0.583   -1.76e-09    3.13e-09
longLoan2          -1.913e-11   1.35e-11     -1.415      0.159   -4.58e-11    7.52e-12
netAsset2           4.878e-10   7.49e-10      0.651      0.515   -9.88e-10    1.96e-09
surplus2            1.601e-11   1.01e-11      1.579      0.116   -3.97e-12     3.6e-11
employee1           8.205e-05      0.000      0.212      0.832      -0.001       0.001
employee2             -0.0004      0.000     -1.052      0.294      -0.001       0.000
==============================================================================
Omnibus:                      295.896   Durbin-Watson:                   2.075
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9623.120
Skew:                          -4.577   Prob(JB):                         0.00
Kurtosis:                      30.386   Cond. No.                     1.91e+13
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.91e+13. This might indicate that there are
strong multicollinearity or other numerical problems.

In [134]:
X = df_drop_obj2.iloc[:,1:]
y = df_drop_obj2.iloc[:,0]

In [138]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values,i) for i in range(X.shape[1])]
vif["features"] = X.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

    VIF Factor            features
0        1.184                 sgg
1        2.367            bedCount
2        6.352        receivableS2
3        6.452            openDate
4        6.494        receivableS1
5       12.323          shortLoan2
6       15.360          shortLoan1
7       20.180         OnonCAsset2
8       20.443         OnonCAsset1
9       23.032           interest1
10      24.278           interest2
11      29.905            surplus2
12      31.050           employee2
13      41.862           employee1
14      49.273     inventoryAsset2
15      49.972           longLoan2
16      55.106           longLoan1
17      73.080            surplus1
18      90.953     inventoryAsset1
19     447.690               ctax1
20     458.251               ctax2
21     877.004             salary2
22     891.682             salary1
23    1674.285           tanAsset1
24    2104.783           tanAsset2
25    2439.246                noi2
26    4335.259                noi1
27    5113.804         quickAsset2
28    7358.720                noe1
29    8237.653             profit1
30   10810.739             profit2
31   11148.752                noe2
32   24166.082         quickAsset1
33  119425.684        liquidAsset1
34  251637.066        liquidAsset2
35  375323.118          salescost1
36  408147.393           netAsset1
37  408156.263          salescost2
38  459572.164  liquidLiabilities1
39  555063.038               debt2
40  611717.989               debt1
41  679487.908      NCLiabilities1
42  736685.893          nonCAsset1
43  850138.715           netAsset2
44  910409.822  liquidLiabilities2
45 1168348.363      NCLiabilities2
46 1485330.513                sga1
47 1622524.427                sga2
48 1972944.396          nonCAsset2
49 2747203.815            revenue1
50 3183253.210            revenue2