In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor
import sklearn
import statsmodels
import statsmodels.formula.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import copy

pd.options.display.float_format = "{:.3f}".format

In [25]:
# 라이브러리 버전 확인
print("pandas 현재 버전 : " + pd.__version__)
print("scikit-learn 현재 버전 : " + sklearn.__version__)
print("statsmodels 현재 버전 : " + statsmodels.__version__)

pandas 현재 버전 : 2.0.3
scikit-learn 현재 버전 : 1.3.0
statsmodels 현재 버전 : 0.14.0

In [26]:
# train.csv 데이터 프레임으로 불러오기
df = pd.read_csv("G:/.shortcut-targets-by-id/188U2ypi3eUvuInaixMTTbbFctprRo9e4/GYM살라빔/data/train.csv")

# df 정보 확인
df.info()

# df 상위 10개 불러오기
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 58 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             301 non-null    int64
 1   OC                  301 non-null    object
 2   sido                301 non-null    object
 3   sgg                 301 non-null    int64
 4   openDate            301 non-null    int64
 5   bedCount            296 non-null    float64
 6   instkind            300 non-null    object
 7   revenue1            293 non-null    float64
 8   salescost1          293 non-null    float64
 9   sga1                293 non-null    float64
 10  salary1             293 non-null    float64
 11  noi1                293 non-null    float64
 12  noe1                293 non-null    float64
 13  interest1           293 non-null    float64
 14  ctax1               293 non-null    float64
 15  profit1             293 non-null    float64
 16  liquidAsset1        293 non-null    float64
 17  quickAsset1         293 non-null    float64
 18  receivableS1        293 non-null    float64
 19  inventoryAsset1     293 non-null    float64
 20  nonCAsset1          293 non-null    float64
 21  tanAsset1           293 non-null    float64
 22  OnonCAsset1         293 non-null    float64
 23  receivableL1        293 non-null    float64
 24  debt1               293 non-null    float64
 25  liquidLiabilities1  293 non-null    float64
 26  shortLoan1          293 non-null    float64
 27  NCLiabilities1      293 non-null    float64
 28  longLoan1           293 non-null    float64
 29  netAsset1           293 non-null    float64
 30  surplus1            293 non-null    float64
 31  revenue2            293 non-null    float64
 32  salescost2          293 non-null    float64
 33  sga2                293 non-null    float64
 34  salary2             293 non-null    float64
 35  noi2                293 non-null    float64
 36  noe2                293 non-null    float64
 37  interest2           293 non-null    float64
 38  ctax2               293 non-null    float64
 39  profit2             293 non-null    float64
 40  liquidAsset2        293 non-null    float64
 41  quickAsset2         293 non-null    float64
 42  receivableS2        293 non-null    float64
 43  inventoryAsset2     293 non-null    float64
 44  nonCAsset2          293 non-null    float64
 45  tanAsset2           293 non-null    float64
 46  OnonCAsset2         293 non-null    float64
 47  receivableL2        293 non-null    float64
 48  debt2               293 non-null    float64
 49  liquidLiabilities2  293 non-null    float64
 50  shortLoan2          293 non-null    float64
 51  NCLiabilities2      293 non-null    float64
 52  longLoan2           293 non-null    float64
 53  netAsset2           293 non-null    float64
 54  surplus2            293 non-null    float64
 55  employee1           291 non-null    float64
 56  employee2           288 non-null    float64
 57  ownerChange         289 non-null    object
dtypes: float64(51), int64(3), object(4)
memory usage: 136.5+ KB

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,1,open,choongnam,73,20071228,175.000,nursing_hospital,4217530010.000,0.000,3961134739.000,...,758993742.000,222876855.000,0.000,536116887.000,390000000.000,2619290493.000,1271224493.000,62.000,64.000,same
1,3,open,gyeongnam,32,19970401,410.000,general_hospital,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,801.000,813.000,same
2,4,open,gyeonggi,89,20161228,468.000,nursing_hospital,1004521989.000,515483669.000,447219722.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,234.000,1.000,same
3,7,open,incheon,141,20000814,353.000,general_hospital,72507342181.000,0.000,70677397660.000,...,37755010512.000,17018596586.000,9219427379.000,20736413926.000,15100000000.000,12954271998.000,7740829037.000,663.000,663.000,same
4,9,open,gyeongnam,32,20050901,196.000,general_hospital,49043538016.000,0.000,47656051197.000,...,51432592890.000,30072585842.000,17593752360.000,21360007048.000,14108027465.000,5561941.000,9025549604.000,206.000,197.000,same
5,11,open,gyeongnam,155,20020501,243.000,general_hospital,33580536703.000,9222996930.000,23727912054.000,...,0.000,21861133888.000,17087136895.000,20000000.000,0.000,0.000,5879003604.000,397.000,390.000,same
6,14,open,gyeonggi,169,19820702,213.000,general_hospital,22552179836.000,4449958166.000,16573328452.000,...,19642026834.000,13292026834.000,12155602473.000,6350000000.000,6230000000.000,18888294786.000,9174282922.000,221.000,246.000,same
7,15,open,busan,66,19871102,250.000,general_hospital,64359169160.000,20758010719.000,40882537264.000,...,35984818131.000,11219645317.000,0.000,24765172814.000,16000000000.000,14217864484.000,9177282701.000,489.000,489.000,same
8,16,open,jeonnam,91,20060922,280.000,nursing_hospital,12748392940.000,328697683.000,11076189315.000,...,0.000,13113246330.000,12664417803.000,41962676.000,0.000,0.000,0.000,243.000,243.000,same
9,17,open,seoul,4,20000124,55.000,general_hospital,41406077905.000,6624671265.000,35120182720.000,...,34906729636.000,19675893406.000,16365396427.000,15230836230.000,3400000000.000,20244525873.000,9554580715.000,370.000,382.000,same

In [27]:
# 데이터 개수 확인하기
print("데이터 개수 : ", df.shape[0])

데이터 개수 :  301

In [28]:
# 숫자 형식의 컬럼의 기술통계값을 출력
df.describe()

,inst_id,sgg,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,...,receivableL2,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2
count,301.000,301.000,301.000,296.000,293.000,293.000,293.000,293.000,293.000,293.000,...,293.000,293.000,293.000,293.000,293.000,293.000,293.000,293.000,291.000,288.000
mean,219.056,81.040,20050125.801,145.709,12881747447.993,2014902794.594,10332439064.089,5654114566.904,269615124.573,511587022.570,...,222670.000,8146026488.788,3860583593.406,1510050431.986,4471247363.877,2709978815.423,5273919018.089,978627865.256,142.546,134.326
std,121.235,50.970,88938.154,118.924,20435433475.616,7460270656.568,14938862491.946,8083342530.256,802370115.514,1060379255.452,...,3811496.447,12557995349.365,6797242094.076,2953412250.368,7659580436.397,4564001070.999,10812593821.248,4688797890.975,160.191,151.062
min,1.000,1.000,19780124.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,-20147802018.000,-2781506722.000,0.000,0.000
25%,112.000,37.000,20011017.000,52.750,3252111902.000,0.000,2758200772.000,1626052720.000,8217133.000,80133952.000,...,0.000,1283220350.000,285574118.000,0.000,25578782.000,0.000,1017572570.000,0.000,53.500,53.750
50%,230.000,75.000,20071126.000,136.500,5524218104.000,210410492.000,4684074465.000,2659892367.000,43637641.000,183196506.000,...,0.000,3784552900.000,1454049945.000,85425488.000,1969746813.000,1100000000.000,2894969804.000,0.000,80.000,79.000
75%,321.000,123.000,20111021.000,193.000,12748392940.000,910527771.000,10778762060.000,6363400069.000,205033071.000,420333030.000,...,0.000,8465053127.000,4364713622.000,1567966980.000,4905441439.000,3360000000.000,5370284792.000,101444685.000,181.500,170.000
max,428.000,178.000,20170607.000,656.000,151000000000.000,98503322990.000,103000000000.000,64035593950.000,9144170639.000,8686379500.000,...,65242310.000,85088583901.000,68468775764.000,17593752360.000,51503883627.000,32561472110.000,125000000000.000,68527297093.000,1200.000,1200.000

In [29]:
# 컬럼별 null 값 확인하기
df.shape[0] - df.count()

inst_id                0
OC                     0
sido                   0
sgg                    0
openDate               0
bedCount               5
instkind               1
revenue1               8
salescost1             8
sga1                   8
salary1                8
noi1                   8
noe1                   8
interest1              8
ctax1                  8
profit1                8
liquidAsset1           8
quickAsset1            8
receivableS1           8
inventoryAsset1        8
nonCAsset1             8
tanAsset1              8
OnonCAsset1            8
receivableL1           8
debt1                  8
liquidLiabilities1     8
shortLoan1             8
NCLiabilities1         8
longLoan1              8
netAsset1              8
surplus1               8
revenue2               8
salescost2             8
sga2                   8
salary2                8
noi2                   8
noe2                   8
interest2              8
ctax2                  8
profit2                8
liquidAsset2           8
quickAsset2            8
receivableS2           8
inventoryAsset2        8
nonCAsset2             8
tanAsset2              8
OnonCAsset2            8
receivableL2           8
debt2                  8
liquidLiabilities2     8
shortLoan2             8
NCLiabilities2         8
longLoan2              8
netAsset2              8
surplus2               8
employee1             10
employee2             13
ownerChange           12
dtype: int64

In [30]:
# 아직 운영 중인 병원을 1로 변환
df.replace({"open":1},inplace=True)
# 폐업한 병원을 0으로 변환
df.replace({" close":0}, inplace=True)
# unique() 메서드를 통해 "OC" 컬럼의 데이터를 확인
df["OC"].unique()

array([1, 0], dtype=int64)

In [31]:
# 병원 정보에 NULL이 존재하는 부분을 다른 값으로 대체할 수 없음
# 병원의 매출, 비용, 이익, 직원 수와 같은 값을 다른 병원의 평균이나 중앙값으로 대체하면 안 됨
df.dropna(axis=0, inplace=True)

In [32]:
# df_loca = df[["sido","sgg"]]
# df_loca.sort_values(by=["sido"], axis=0, ascending=True)

In [33]:
# 데이터 값이 0으로만 돼 있는 컬럼 삭제
df.drop(columns=["receivableL1", "receivableL2"], axis=1, inplace=True)
# 시군구 코드 삭제
df.drop(columns="sgg", axis=1, inplace=True)
# 병원 id는 분석에 있어서 의미가 없는 데이터이므로 삭제
df.drop(columns="inst_id",inplace=True)
# 데이터 프레임에서 drop 됐는지 확인
df.columns

Index(['OC', 'sido', 'openDate', 'bedCount', 'instkind', 'revenue1',
       'salescost1', 'sga1', 'salary1', 'noi1', 'noe1', 'interest1', 'ctax1',
       'profit1', 'liquidAsset1', 'quickAsset1', 'receivableS1',
       'inventoryAsset1', 'nonCAsset1', 'tanAsset1', 'OnonCAsset1', 'debt1',
       'liquidLiabilities1', 'shortLoan1', 'NCLiabilities1', 'longLoan1',
       'netAsset1', 'surplus1', 'revenue2', 'salescost2', 'sga2', 'salary2',
       'noi2', 'noe2', 'interest2', 'ctax2', 'profit2', 'liquidAsset2',
       'quickAsset2', 'receivableS2', 'inventoryAsset2', 'nonCAsset2',
       'tanAsset2', 'OnonCAsset2', 'debt2', 'liquidLiabilities2', 'shortLoan2',
       'NCLiabilities2', 'longLoan2', 'netAsset2', 'surplus2', 'employee1',
       'employee2', 'ownerChange'],
      dtype='object')

In [34]:
df_drop_obj = copy.deepcopy(df)
df_dr_obj_cols = df_drop_obj.columns.to_list()
# df_dr_obj_cols

In [35]:
df_drop_obj2 = copy.deepcopy(df_drop_obj)

# 컬럼 데이터 타입이 'object'인 컬럼 삭제
for i in range(len(df_dr_obj_cols)) : 
    if df_drop_obj.iloc[:,i].dtype == "object" : 
        df_drop_obj2.drop(columns=df_dr_obj_cols[i], inplace=True)

df_drop_obj = df_drop_obj2
df_drop_obj.info()

<class 'pandas.core.frame.DataFrame'>
Index: 277 entries, 0 to 296
Data columns (total 51 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OC                  277 non-null    int64
 1   openDate            277 non-null    int64
 2   bedCount            277 non-null    float64
 3   revenue1            277 non-null    float64
 4   salescost1          277 non-null    float64
 5   sga1                277 non-null    float64
 6   salary1             277 non-null    float64
 7   noi1                277 non-null    float64
 8   noe1                277 non-null    float64
 9   interest1           277 non-null    float64
 10  ctax1               277 non-null    float64
 11  profit1             277 non-null    float64
 12  liquidAsset1        277 non-null    float64
 13  quickAsset1         277 non-null    float64
 14  receivableS1        277 non-null    float64
 15  inventoryAsset1     277 non-null    float64
 16  nonCAsset1          277 non-null    float64
 17  tanAsset1           277 non-null    float64
 18  OnonCAsset1         277 non-null    float64
 19  debt1               277 non-null    float64
 20  liquidLiabilities1  277 non-null    float64
 21  shortLoan1          277 non-null    float64
 22  NCLiabilities1      277 non-null    float64
 23  longLoan1           277 non-null    float64
 24  netAsset1           277 non-null    float64
 25  surplus1            277 non-null    float64
 26  revenue2            277 non-null    float64
 27  salescost2          277 non-null    float64
 28  sga2                277 non-null    float64
 29  salary2             277 non-null    float64
 30  noi2                277 non-null    float64
 31  noe2                277 non-null    float64
 32  interest2           277 non-null    float64
 33  ctax2               277 non-null    float64
 34  profit2             277 non-null    float64
 35  liquidAsset2        277 non-null    float64
 36  quickAsset2         277 non-null    float64
 37  receivableS2        277 non-null    float64
 38  inventoryAsset2     277 non-null    float64
 39  nonCAsset2          277 non-null    float64
 40  tanAsset2           277 non-null    float64
 41  OnonCAsset2         277 non-null    float64
 42  debt2               277 non-null    float64
 43  liquidLiabilities2  277 non-null    float64
 44  shortLoan2          277 non-null    float64
 45  NCLiabilities2      277 non-null    float64
 46  longLoan2           277 non-null    float64
 47  netAsset2           277 non-null    float64
 48  surplus2            277 non-null    float64
 49  employee1           277 non-null    float64
 50  employee2           277 non-null    float64
dtypes: float64(49), int64(2)
memory usage: 112.5 KB

In [36]:
# 병원 개/폐업 정보의 다중 회귀 분석과 검정 통계량 확인
Models1 = sm.ols("OC ~ " + "+".join(df_drop_obj.columns[1:]), data=df_drop_obj)
result1 = Models1.fit()
print(result1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     OC   R-squared:                       0.277
Model:                            OLS   Adj. R-squared:                  0.117
Method:                 Least Squares   F-statistic:                     1.731
Date:                Mon, 10 Jul 2023   Prob (F-statistic):            0.00383
Time:                        22:32:13   Log-Likelihood:                 164.83
No. Observations:                 277   AIC:                            -227.7
Df Residuals:                     226   BIC:                            -42.84
Df Model:                          50
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              4.2750      2.594      1.648      0.101      -0.837       9.387
openDate           -1.636e-07   1.29e-07     -1.265      0.207   -4.18e-07    9.12e-08
bedCount           -7.549e-05      0.000     -0.631      0.529      -0.000       0.000
revenue1           -6.376e-10   7.03e-10     -0.907      0.365   -2.02e-09    7.47e-10
salescost1          6.459e-10   7.08e-10      0.912      0.363    -7.5e-10    2.04e-09
sga1                6.891e-10   7.08e-10      0.973      0.332   -7.06e-10    2.08e-09
salary1            -6.185e-11   3.23e-11     -1.916      0.057   -1.25e-10    1.78e-12
noi1               -7.019e-10   7.08e-10     -0.991      0.323    -2.1e-09    6.94e-10
noe1                7.201e-10      7e-10      1.029      0.304   -6.58e-10     2.1e-09
interest1           1.151e-10   1.53e-10      0.754      0.452   -1.86e-10    4.16e-10
ctax1               6.096e-10   7.37e-10      0.827      0.409   -8.43e-10    2.06e-09
profit1             6.391e-10   6.99e-10      0.914      0.362   -7.39e-10    2.02e-09
liquidAsset1        1.721e-10   4.86e-10      0.354      0.724   -7.86e-10    1.13e-09
quickAsset1         1.789e-10   2.24e-10      0.800      0.425   -2.62e-10    6.19e-10
receivableS1       -1.659e-11   1.53e-11     -1.083      0.280   -4.68e-11    1.36e-11
inventoryAsset1     -1.88e-10   3.24e-10     -0.580      0.563   -8.27e-10    4.51e-10
nonCAsset1          2.818e-10    4.4e-10      0.640      0.523   -5.86e-10    1.15e-09
tanAsset1           5.362e-11   2.27e-11      2.362      0.019    8.89e-12    9.84e-11
OnonCAsset1         7.573e-12   4.18e-11      0.181      0.856   -7.48e-11    8.99e-11
debt1               1.802e-10   5.33e-10      0.338      0.736    -8.7e-10    1.23e-09
liquidLiabilities1  -5.47e-10   9.21e-10     -0.594      0.553   -2.36e-09    1.27e-09
shortLoan1          2.431e-11   1.06e-11      2.304      0.022    3.51e-12    4.51e-11
NCLiabilities1     -5.393e-10   9.21e-10     -0.586      0.559   -2.35e-09    1.28e-09
longLoan1           1.334e-11   1.36e-11      0.978      0.329   -1.35e-11    4.02e-11
netAsset1          -3.418e-10   4.42e-10     -0.774      0.440   -1.21e-09    5.28e-10
surplus1           -1.373e-11   8.97e-12     -1.530      0.127   -3.14e-11    3.95e-12
revenue2           -1.144e-10    8.2e-10     -0.139      0.889   -1.73e-09     1.5e-09
salescost2          1.109e-10    8.2e-10      0.135      0.893   -1.51e-09    1.73e-09
sga2                6.427e-11   8.21e-10      0.078      0.938   -1.55e-09    1.68e-09
salary2             7.111e-11   3.49e-11      2.035      0.043    2.24e-12     1.4e-10
noi2               -8.407e-11   8.15e-10     -0.103      0.918   -1.69e-09    1.52e-09
noe2                2.701e-11    8.2e-10      0.033      0.974   -1.59e-09    1.64e-09
interest2          -2.374e-10   1.61e-10     -1.475      0.142   -5.55e-10    7.97e-11
ctax2              -3.382e-11   7.69e-10     -0.044      0.965   -1.55e-09    1.48e-09
profit2             1.652e-10   8.23e-10      0.201      0.841   -1.46e-09    1.79e-09
liquidAsset2       -5.931e-10   7.37e-10     -0.805      0.422   -2.04e-09    8.58e-10
quickAsset2         9.165e-11   1.08e-10      0.849      0.397   -1.21e-10    3.04e-10
receivableS2        1.619e-11   1.51e-11      1.072      0.285   -1.36e-11     4.6e-11
inventoryAsset2     3.648e-10   2.45e-10      1.490      0.138   -1.18e-10    8.47e-10
nonCAsset2         -4.418e-10   7.48e-10     -0.591      0.555   -1.92e-09    1.03e-09
tanAsset2          -4.299e-11   2.63e-11     -1.632      0.104   -9.49e-11    8.92e-12
OnonCAsset2         2.749e-11   4.42e-11      0.622      0.534   -5.96e-11    1.15e-10
debt2               -1.67e-10    5.2e-10     -0.321      0.748   -1.19e-09    8.58e-10
liquidLiabilities2  6.784e-10   1.23e-09      0.550      0.583   -1.75e-09    3.11e-09
shortLoan2         -1.515e-11   1.03e-11     -1.467      0.144   -3.55e-11     5.2e-12
NCLiabilities2      6.819e-10   1.24e-09      0.551      0.582   -1.76e-09    3.12e-09
longLoan2          -1.843e-11   1.34e-11     -1.380      0.169   -4.47e-11    7.89e-12
netAsset2           4.914e-10   7.47e-10      0.658      0.511   -9.81e-10    1.96e-09
surplus2            1.595e-11   1.01e-11      1.576      0.116   -3.99e-12    3.59e-11
employee1           8.099e-05      0.000      0.210      0.834      -0.001       0.001
employee2             -0.0004      0.000     -1.045      0.297      -0.001       0.000
==============================================================================
Omnibus:                      294.961   Durbin-Watson:                   2.073
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9488.553
Skew:                          -4.558   Prob(JB):                         0.00
Kurtosis:                      30.185   Cond. No.                     1.91e+13
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.91e+13. This might indicate that there are
strong multicollinearity or other numerical problems.

In [37]:
# 독립변수 X와 종속변수 y로 분리
X = df_drop_obj.iloc[:,1:]
y = df_drop_obj.iloc[:,0]

In [39]:
# 독립변수들간 다중 공선성 확인, vif 지수 10 이상이면 변수 제거 고려
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values,i) for i in range(X.shape[1])]
vif["features"] = X.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

    VIF Factor            features
0        2.366            bedCount
1        3.737            openDate
2        6.340        receivableS2
3        6.494        receivableS1
4       12.035          shortLoan2
5       14.965          shortLoan1
6       20.043         OnonCAsset2
7       20.224         OnonCAsset1
8       22.919           interest1
9       24.217           interest2
10      29.897            surplus2
11      31.027           employee2
12      41.860           employee1
13      48.952           longLoan2
14      49.235     inventoryAsset2
15      54.158           longLoan1
16      73.027            surplus1
17      90.878     inventoryAsset1
18     444.396               ctax1
19     458.244               ctax2
20     875.933             salary2
21     890.690             salary1
22    1660.333           tanAsset1
23    2097.574           tanAsset2
24    2439.246                noi2
25    4291.453                noi1
26    5106.947         quickAsset2
27    7295.320                noe1
28    8160.759             profit1
29   10810.648             profit2
30   11148.307                noe2
31   24079.756         quickAsset1
32  119411.267        liquidAsset1
33  251612.232        liquidAsset2
34  371660.042          salescost1
35  408022.937           netAsset1
36  408155.510          salescost2
37  459567.970  liquidLiabilities1
38  554973.927               debt2
39  611602.006               debt1
40  679487.737      NCLiabilities1
41  736307.160          nonCAsset1
42  849957.884           netAsset2
43  910385.951  liquidLiabilities2
44 1168339.480      NCLiabilities2
45 1471435.214                sga1
46 1622510.398                sga2
47 1972381.814          nonCAsset2
48 2720979.309            revenue1
49 3183231.571            revenue2

In [44]:
# vif 지수가 10미만인 컬럼명
vif[vif["VIF Factor"]<10.0]["features"]

0        bedCount
1        openDate
2    receivableS2
3    receivableS1
Name: features, dtype: object

In [46]:
df_drop_vif = df_drop_obj[["OC","bedCount", "openDate", "receivableS2", "receivableS1"]]

In [47]:
Models2 = sm.ols("OC ~ " + "+".join(df_drop_vif.columns[1:]), data=df_drop_vif)
result2 = Models2.fit()
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     OC   R-squared:                       0.021
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     1.436
Date:                Mon, 10 Jul 2023   Prob (F-statistic):              0.222
Time:                        22:50:24   Log-Likelihood:                 122.81
No. Observations:                 277   AIC:                            -235.6
Df Residuals:                     272   BIC:                            -217.5
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept        3.6487      2.205      1.655      0.099      -0.692       7.989
bedCount        -0.0001   8.14e-05     -1.488      0.138      -0.000    3.91e-05
openDate     -1.325e-07    1.1e-07     -1.205      0.229   -3.49e-07    8.39e-08
receivableS2  1.152e-11      9e-12      1.280      0.202    -6.2e-12    2.92e-11
receivableS1 -8.465e-12   8.84e-12     -0.957      0.339   -2.59e-11    8.94e-12
==============================================================================
Omnibus:                      345.763   Durbin-Watson:                   2.056
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            14324.292
Skew:                          -5.871   Prob(JB):                         0.00
Kurtosis:                      36.215   Cond. No.                     5.02e+11
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.02e+11. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
"""
vif 지수가 10 이상이라고 무조건 제거하면 안 됨!
"""